@model FrontEnd.Models.MarcasViewModel

@{
    ViewBag.Title = "Details";
}
    <div class="container">
        <h2>Details</h2>

        <div>
            <h4>MarcasViewModel</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.vNombre)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.vNombre)
                </dd>

            </dl>
        </div>
        <p>
            @Html.ActionLink("Editar", "Edit", new { id = Model.idMarca }, new { @class = "btn btn-success" }) |
            @Html.ActionLink("Volver", "Index", null, new { @class = "btn btn-danger" })
        </p>
    </div>