@model FrontEnd.Models.reporteViewModel

<div id="chart-container">@DateTime.Now</div>

    <!-- Include fusioncharts core library -->
    <script type="text/javascript" src="https://cdn.fusioncharts.com/fusioncharts/latest/fusioncharts.js"></script>
    <!-- Include fusion theme -->
    <script type="text/javascript" src="https://cdn.fusioncharts.com/fusioncharts/latest/themes/fusioncharts.theme.fusion.js"></script>
    <script type="text/javascript">
        var labels = "@Model.estados";
        const chartData = [];
        for (var i = 0; i < labels.length; i++) {
            chartData.push({
                "label": labels[i].vNombre,
                "value": "1000"
            });
        }
        
        //const chartData = [{
        //    "label": "Venezuela",
        //    "value": "290"
        //}, {
        //    "label": "Saudi",
        //    "value": "260"
        //}, {
        //    "label": "Canada",
        //    "value": "180"
        //}, {
        //    "label": "Iran",
        //    "value": "140"
        //}, {
        //    "label": "Russia",
        //    "value": "115"
        //}, {
        //    "label": "UAE",
        //    "value": "100"
        //}, {
        //    "label": "US",
        //    "value": "30"
        //}, {
        //    "label": "China",
        //    "value": "30"
        //}];

        //STEP 3 - Chart Configurations
        const chartConfig = {
            type: 'column2d',
            renderAt: 'chart-container',
            width: '100%',
            height: '400',
            dataFormat: 'json',
            dataSource: {
                // Chart Configuration
                "chart": {
                    "caption": "Pedidos según su estado",
                    "subCaption": "En U = Unidades",
                    "xAxisName": "Estado",
                    "yAxisName": "Cantidad",
                    "numberSuffix": "U",
                    "theme": "fusion",
                },
                // Chart Data
                "data": chartData
            }
        };
        FusionCharts.ready(function () {
            var fusioncharts = new FusionCharts(chartConfig);
            fusioncharts.render();
        });

    </script>
